<!DOCTYPE html>
<html>
  <head>
    <title>Flask Form Example</title>
    <!-- add bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Hello, {{ name }}!</h1>
    <form method="POST" action="/">
      {{ form.csrf_token }}
      {{ form.name.label }} {{ form.name }}
      {{ form.submit }}
    </form>
  
    <!-- create a table with the user id and name -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </body>
</html>
